<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>

  <form action="" class="cms">
    <div class="flex-l mhn1-l">
      <!-- First Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="first_name" name="first_name" placeholder="First Name" class="w-100 mb2">
          <label for="first_name">First Name</label>
        </fieldset>
      </div>
      <!-- Last Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="last_name" name="last_name" placeholder="Last Name" class="w-100 mb2">
          <label for="last_name">Last Name</label>
        </fieldset>
      </div>
      </div>
    <div class="flex-l mhn1-l">

      <!-- Email Address -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email_address" name="email_address" placeholder="Email Address" class="w-100 mb2">
          <label for="email_address">Email Address</label>
        </fieldset>
      </div>
      <!-- Phone -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="tel" id="phone" name="phone" placeholder="Phone" class="w-100 mb2">
          <label for="phone">Phone</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset class="ph1-l">
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100 "></textarea>
      <label for="message">Your message</label>
    </fieldset>

    <!-- Terms of Service -->
    <div class="mt3 flex items-center">
      <label>
    <input type="checkbox" id="terms_of_service" name="terms_of_service" required class="mr2">
    I agree to the terms of service for communication.  
</label>
    </div>
    

    <!-- Button -->
    <div class="tc mt3">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
