<div class="bg-grey-1 pv4">
  <div class="ph3 mw7 center">
    <div class="ph2-l">
      {{if .heading}}
      <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
      {{end}}
    </div>
    <div class="flex-l mhn2-l items-center">
      <!-- The flex-l will make this container a flex container on larger screens -->
      <!-- {{ with .heading }} -->
      <!-- <h2 class="f2 b lh-title tl mb2">{{ . }}</h2> -->
      <!-- {{ end }} -->
      <!-- The w-100 ensures it takes up full width on mobile and w-50-l ensures it takes up half the width on larger screens -->
      <p class="w-100 w-50-l ph2-l">{{.text | markdownify}}</p>

      <img src="{{.image}}" alt="" class="w-100 w-50-l br1" />

      <!-- w-100 to make the image responsive -->
    </div>
    {{if .more}}
    <p class=" w-100 ph2-l">{{.more | markdownify}}</p>
    {{end}}

    <div class="tc mt4">
      <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
    </div>
  </div>
</div>
